<div class="flex mt-32 mb-5 max-w-4xl mx-auto">
  <h1 class="mx-auto p-2 font-bold text-3xl flex-auto">Horarios.</h1>
  <button routerLink="/citas" type="button" class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">CREAR CITA</button>
</div>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg max-w-4xl mx-auto mb-28 p-4 bg-gray-100 rounded-xl">
    <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-100">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Hora
                </th>
                <th scope="col" class="px-6 py-3">
                    Lunes
                </th>
                <th scope="col" class="px-6 py-3">
                    Martes
                </th>
                <th scope="col" class="px-6 py-3">
                    Miercoles
                </th>
                <th scope="col" class="px-6 py-3">
                    Jueves
                </th>
                <th scope="col" class="px-6 py-3">
                    Viernes
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white hover:bg-gray-50">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                  8:30 a 9:25
                </th>
                <td class="px-6 py-4 bg-green-300 hover:bg-gray-300">
                    
                </td>
                <td class="px-6 py-4 bg-red-300 hover:bg-gray-300">
                    
                </td>
                <td class="px-6 py-4 bg-red-300 hover:bg-gray-300">
                    
                </td>
                <td class="px-6 py-4 bg-green-300 hover:bg-gray-300">
                    
                </td>
                <td class="px-6 py-4 bg-red-300 hover:bg-gray-300">
                    
                </td>
            </tr>
            <tr class="bg-white hover:bg-gray-50">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                9:25 a 10:25
              </th>
              <td class="px-6 py-4 bg-red-300 hover:bg-gray-300">
                  
              </td>
              <td class="px-6 py-4 bg-green-300 hover:bg-gray-300">
                  
              </td>
              <td class="px-6 py-4 bg-red-300 hover:bg-gray-300">
                  
              </td>
              <td class="px-6 py-4 bg-green-300 hover:bg-gray-300">
                  
              </td>
              <td class="px-6 py-4 bg-red-300 hover:bg-gray-300">
                  
              </td>
            </tr>
            <tr class="bg-white hover:bg-gray-50">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                10:30 a 11:25
              </th>
              <td class="px-6 py-4 bg-red-300 hover:bg-gray-300">
                  
              </td>
              <td class="px-6 py-4 bg-red-300 hover:bg-gray-300">
                  
              </td>
              <td class="px-6 py-4 bg-green-300 hover:bg-gray-300">
                  
              </td>
              <td class="px-6 py-4 bg-red-300 hover:bg-gray-300">
                  
              </td>
              <td class="px-6 py-4 bg-red-300 hover:bg-gray-300">
                  
              </td>
            </tr>
            <tr class="bg-white hover:bg-gray-50">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
              12:30 a 1:25
            </th>
            <td class="px-6 py-4 bg-red-300 hover:bg-gray-300">
                
            </td>
            <td class="px-6 py-4 bg-green-300 hover:bg-gray-300">
                
            </td>
            <td class="px-6 py-4 bg-red-300 hover:bg-gray-300">
                
            </td>
            <td class="px-6 py-4 bg-green-300 hover:bg-gray-300">
                
            </td>
            <td class="px-6 py-4 bg-red-300 hover:bg-gray-300">
                
            </td>
            </tr>
            <tr class="bg-white hover:bg-gray-50">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
            1:30 a 2:25
          </th>
          <td class="px-6 py-4 bg-green-300 hover:bg-gray-300">
              
          </td>
          <td class="px-6 py-4 bg-green-300 hover:bg-gray-300">
              
          </td>
          <td class="px-6 py-4 bg-red-300 hover:bg-gray-300">
              
          </td>
          <td class="px-6 py-4 bg-green-300 hover:bg-gray-300">
              
          </td>
          <td class="px-6 py-4 bg-red-300 hover:bg-gray-300">
              
          </td>
            </tr>
            <tr class="bg-white hover:bg-gray-50">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
          2:30 a 3:25
        </th>
        <td class="px-6 py-4 bg-green-300 hover:bg-gray-300">
            
        </td>
        <td class="px-6 py-4 bg-green-300 hover:bg-gray-300">
            
        </td>
        <td class="px-6 py-4 bg-red-300 hover:bg-gray-300">
            
        </td>
        <td class="px-6 py-4 bg-green-300 hover:bg-gray-300">
            
        </td>
        <td class="px-6 py-4 bg-red-300 hover:bg-gray-300">
            
        </td>
            </tr>
            
        </tbody>
    </table>
</div>


  

